<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>Sign in to PRFLR</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="/assets/landing/global.min.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/assets/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="https://cdn.flurry.com/js/flurry.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                FlurryAgent.startSession('VG4NW39X4ZYWBYSNNT5P');
            });
        </script>
    </head>
    <body>

        <!-- HEADER -->
        {{template "header"}}
    
        <!-- CONTENT -->
        <div class="content">
            <div class="container">
                <h1>Sign in</h1>
                <font color="red">{{.loginErr}}</font>
                <form action="" method="POST" name="loginForm" id="loginForm" onsubmit="$('#submitButton').html('Please wait...').prop('disabled', true);" >
                    <input class="text" value="{{.email}}" type="text" name="email" autocomplete="off" placeholder="Email" /><br/><br/>
                    <input class="text" value="{{.password}}" type="password" name="password" autocomplete="off" placeholder="Password" /><br/><br/>
                    <input type="hidden" name="login" value="login" />
                    <button id="submitButton" type="submit">Submit</button>
                </form>

                <br/><br/><br/>

                <div>
                    <a href="/forgotPassword">Forgot your password?</a><br/>
                </div>
            </div>
        </div>

        <br/>

        <!-- FOOTER -->
        {{template "footer"}}
</body>
</html>
