body {font-family: Times New Roman;}

div.auth, div.recovery, div.register {font-style: Italic; font-size: 1.1em; width: 1000px;margin: 0 auto}


.spacer {height: 100px}

.landing_blocks div {
    float: left;
    width: 287px;
    height: 287px;
    box-shadow: 5px 5px 5px #888888;
    overflow: auto;
    font-size: 0.9em;
    padding-right: 8px;
    padding-left: 8px;
}

.landing_block1 {margin-right: 45px; text-align: left}
.landing_block2 {margin-right: 46px; text-align: justify;}
.landing_block3 {text-align: left;}

#loginForm input.text {font-size: 1em;padding:3px; width: 255px}

::-webkit-input-placeholder
{
    color: #ccc;
}

/*tr.prflrRow:hover {background-color: #fef; cursor: pointer;}*/
.b1 td {border-bottom:1px solid #808080;}

.profiler_block {display: none;padding-bottom:50px}
.profiler_block b {display: block;float: left;width: 100px;}
.refresh_button {margin-left: 10px;}

#tab_menu  a {text-decoration: none; color: #000000;font-size:35px; padding-top:35px;}

.tabselected {text-shadow: 1px 2px 6px #000000;color:#ffffff!important;}

.r0 {width:20px;} 
.r1 {padding-left:5px;}
.r2 {width:270px}
.r3 {width:60px;padding-left:15px;}
.r4 {width:80px; text-align: right; padding-right:5px}

.cp {width:95%; margin-right:30px; height:35px; font-size:16px;}

.t100 {width:100%;}

.rln {height:6px; background-color: #ff0000;min-width:1.5px;}
.gln {height:6px; background-color: #00ff00;min-width:1.5px;}
.bln {height:6px; background-color: #0000ff;min-width:1.5px;}

.f10 {font-size:10px;}
.f12 {font-size:12px;}
.f15 {font-size:15px;}
.f18 {font-size:18px;}
.f20 {font-size:20px;}
.f25 {font-size:25px;}
.f30 {font-size:30px;}
.f35 {font-size:35px;}

.prfrlItem:hover {/*color: blue;*/ text-decoration: underline; cursor: pointer}

.resetFilter {cursor:pointer}

.prflrItemHeader:hover {text-decoration: underline; cursor: pointer}

.userPanel {padding:0 25px 0 0; text-align: right; width: 99%}
.userPanelName {font-size: 20px}
.userPanelLogout {font-size: 12px}

#registerForm input, #recoveryForm input, #registerForm textarea {padding: 5px; width: 300px;font-size: 1em}
