<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>Thank you!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="/assets/landing/global.min.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/assets/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="https://cdn.flurry.com/js/flurry.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                FlurryAgent.startSession('VG4NW39X4ZYWBYSNNT5P');
            });
        </script>
    </head>
    <body>

        <!-- HEADER -->
        {{template "header"}}

        <!-- CONTENT -->
        <div class="content">

            <div class="container">
            
                <div align="center">
                    <h3>Thank you for your registration! You can <a href="/signin">login</a> now!</h3>
                </div>

            </div>

        </div>

        <br/>

        <!-- FOOTER -->
        {{template "footer"}}
    </body>
</html>