<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Password recovery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/assets/landing/global.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/assets/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="https://cdn.flurry.com/js/flurry.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            FlurryAgent.startSession('VG4NW39X4ZYWBYSNNT5P');
        });
    </script>
</head>
<body>

    <!-- HEADER -->
    {{template "header"}}

    <!-- CONTENT -->
    <div class="content">
        <div class="container">
            <h3 align="center">We sent your password on your registration email.<br/><br/>If you don't see it please <a href="/forgotPassword">try again</a> later.</h3>
        </div>
    </div>

    <br/>

    <!-- FOOTER -->
    {{template "footer"}}

</body>
</html>
