<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>Join PRFLR</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="/assets/landing/global.min.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/assets/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/assets/prflr.js"></script>
        <script type="text/javascript" src="https://cdn.flurry.com/js/flurry.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                FlurryAgent.startSession('VG4NW39X4ZYWBYSNNT5P');
            });
        </script>
    </head>
    <body>

        <!-- HEADER -->
        {{template "header"}}

        <!-- CONTENT -->
        <div class="content">
            <div class="container">
                <h1>Sign up</h1>
                <font color="red">{{.registerErr}}</font>
                <form action="" method="POST" name="registerForm" id="registerForm" onsubmit="$('#submitButton').html('Please wait...').prop('disabled', true);" >
                    <input class="text" value="{{.name}}" type="text" name="name" autocomplete="off" placeholder="Your Full Name" /><br/><br/>
                    <input class="text" value="{{.email}}" type="text" name="email" autocomplete="off" placeholder="Email" /><br/><br/>
                    <input class="text" value="{{.pass}}" type="password" name="pass" autocomplete="off" placeholder="Password" style="margin-bottom:6px" /><br/>
                    <input class="text" value="{{.confirm_pass}}" type="password" name="confirm_pass" autocomplete="off" placeholder="Confirm password" /><br/><br/>
                    <textarea placeholder="A few words about yourself" name="info" rows="5" cols="50">{{.info}}</textarea>
                    <br/><br/>
                    <input type="hidden" name="register" value="register" />
                    <button id="submitButton" type="submit">Submit</button>
                </form>
            </div>
        </div>

        <br/>

        <!-- FOOTER -->
        {{template "footer"}}
</body>
</html>
